#cards {
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.city-card {
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
